* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Livvic", sans-serif;
  color: white;
  background-color: #014E56;
  text-align: center;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.layout main {
  flex-grow: 1;
}

header,
section,
footer {
  position: relative;
  padding: 0 1.5em;
  overflow: hidden;
}

/*==============
    Typography
================*/
h1, h2, h3 {
  font-weight: 700;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  margin-top: 0;
  font-size: 2rem;
  line-height: 1;
}

h3, header a, button {
  font-size: 1.125rem;
  line-height: 1.556;
}

p, a {
  font-size: 0.9375rem;
  line-height: 1.667;
  font-weight: 600;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #F67E7E;
}

p.job-title {
  text-align: center;
  font-style: italic;
  font-weight: 500;
}

.quote .job-title {
  font-size: 0.8125rem;
  line-height: 1.385;
}

header a {
  font-weight: 600;
}

.pink {
  color: #F67E7E;
}

.blue {
  color: #79C8C7;
}

/*===========
    Buttons
=============*/
a,
button,
.menu-btn,
.social-media img,
.director-social-media img,
.director-card-btn {
  cursor: pointer;
}

button {
  line-height: 1;
  font-family: inherit;
  padding: 0.625em 2em;
  border-radius: 1.333em;
  border: 2px solid;
  color: #002529;
  background-color: transparent;
}

button:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.btn-light {
  color: white;
  border-color: white;
}

.btn-light:hover:enabled {
  background-color: white;
  color: #002529;
}

.btn-dark {
  color: #012F34;
  border-color: #012F34;
}

.btn-dark:hover:enabled {
  background-color: #012F34;
  color: white;
}

.btn-filled {
  background-color: white;
  border: none;
}

.btn-filled:hover:enabled {
  background-color: #79C8C7;
}

/*==========
    Header
============*/
header {
  display: flex;
  padding-top: 3em;
  padding-bottom: 0;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 2em;
}

/*==========
    Footer
============*/
footer {
  padding-top: 66px;
  padding-bottom: 64px;
  background-color: #002529;
}
footer .logo {
  width: 96px;
  height: 24px;
  margin-bottom: 1.5em;
}
footer p {
  opacity: 0.6;
}
footer p:first-of-type {
  margin: 1.6em 0 2.67em 0;
}
footer p:last-of-type {
  margin-bottom: 0;
}

.footer-links, .social-media {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-links {
  gap: 1.5em;
}

.social-media {
  gap: 1em;
}

.social-media img:hover,
.director-social-media img:hover {
  filter: brightness(0) saturate(100%) invert(47%) sepia(37%) saturate(570%) hue-rotate(314deg) brightness(118%) contrast(103%);
}

/*========
    Home
==========*/
.home-section-1 {
  padding-bottom: 197px;
}

.main-title {
  margin-top: 2em;
}

.large-p {
  max-width: 445px;
  margin: 0 auto;
}

.home-section-2 {
  background-color: #012F34;
  overflow: hidden;
  padding-top: 4em;
  padding-bottom: 4em;
}
.home-section-2 h2 {
  text-align: start;
  max-width: 65vw;
  margin-bottom: 1.7em;
}
.home-section-2 h2::before {
  content: "";
  display: block;
  width: 50px;
  height: 4px;
  background-color: #F67E7E;
  margin-bottom: 1em;
}
.home-section-2 h3 {
  color: #F67E7E;
}
.home-section-2 p {
  opacity: 0.8;
}

.home-section-2-details {
  margin-bottom: 3em;
}

.home-section-2-details:last-of-type {
  margin-bottom: 0;
}

.home-section-3 {
  padding-top: 8.75em;
  padding-bottom: 10.25em;
  background-color: #004047;
}

.quotes {
  display: flex;
  flex-direction: column;
  gap: 3em;
}

.quote {
  position: relative;
  padding-top: 2.4em;
}
.quote h3 {
  margin: 0;
}
.quote p {
  position: relative;
  margin-top: 0;
  z-index: 1;
}

.quote .avatar {
  width: 62px;
  height: 62px;
}

.quote-icon {
  position: absolute;
  top: 0;
  left: 50%;
  translate: -50% 5%;
  z-index: 0;
}

.get-started {
  background-color: #F67E7E;
  padding-top: 5.1875em;
  padding-bottom: 5.1875em;
}
.get-started h2 {
  color: #012F34;
  margin-bottom: 0.75em;
}

/*=========
    About
===========*/
.about-section-1 {
  padding-bottom: 108px;
}
.about-section-1 h1 {
  margin-bottom: 0.4em;
}
.about-section-1 p {
  margin: 0;
}

.about-section-2 {
  background-color: #004047;
  padding-top: 88px;
  padding-bottom: 116px;
}

.about-section-3 {
  background-color: #012F34;
  padding-top: 88px;
  padding-bottom: 88px;
}
.about-section-3 h2 {
  margin-bottom: 2em;
}

.directors {
  display: flex;
  flex-direction: column;
  gap: 3.25em;
}

.director-card {
  position: relative;
  height: 15.8125em;
  padding: 2em 1.5em;
}
.director-card .avatar {
  height: 96px;
}
.director-card h3 {
  margin-top: 1.125em;
  margin-bottom: 0.444em;
}
.director-card p {
  margin: 0 0 1.6em 0;
}

.director-card-btn {
  position: absolute;
  background-color: #79C8C7;
  bottom: 0;
  left: 50%;
  translate: -50% 50%;
  border-radius: 50%;
  padding: 20px;
  width: 56px;
  height: 56px;
}
.director-card-btn img {
  filter: brightness(0) saturate(100%) invert(13%) sepia(61%) saturate(743%) hue-rotate(139deg) brightness(97%) contrast(99%);
}

.director-card-btn.director-card-front {
  background-color: #F67E7E;
}

.director-card-btn:hover {
  background-color: #F67E7E;
}

.director-card-btn.director-card-front:hover {
  background-color: #79C8C7;
}

.director-social-media {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.clients {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 57px;
}
.clients img {
  display: block;
  max-width: 162.5px;
  max-height: 39px;
}

/*=========
   Contact
   ===========*/
.contact-section {
  padding-bottom: 88px;
  margin-top: 80px;
}
.contact-section .section-content {
  max-width: 400px;
  margin: auto;
}
.contact-section h1 {
  margin: 0;
}
.contact-section h2 {
  margin: 0.5em 0 1.25em 0;
}
.contact-section p {
  font-size: 1.125rem;
  font-weight: 700;
}

.contact-ask {
  display: grid;
  margin: auto;
  grid-template-columns: 72px auto;
  grid-template-rows: repeat(3, 72px);
  gap: 1.5em;
  text-align: start;
}

form {
  margin-top: 3.5em;
}
form input, form textarea {
  font-family: inherit;
  color: white;
  font-size: 0.9375em;
  display: block;
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  padding: 1.6em 1em 1.13em;
}
form input::-moz-placeholder, form textarea::-moz-placeholder {
  opacity: 0.6;
  color: white;
}
form input::placeholder,
form textarea::placeholder {
  opacity: 0.6;
  color: white;
}
form input:focus,
form textarea:focus {
  outline: none;
  border-color: #79C8C7;
}
form .input-required {
  display: none;
}
form textarea {
  resize: none;
}
form button {
  float: left;
  margin-top: 1.5em;
}

form.submit-attempted input:invalid {
  border-color: #F67E7E;
}
form.submit-attempted input:invalid::-moz-placeholder {
  color: #F67E7E;
}
form.submit-attempted input:invalid::placeholder {
  color: #F67E7E;
}
form.submit-attempted .input-required {
  display: block;
  color: #F67E7E;
  font-style: italic;
  font-size: 0.8125em;
  text-align: start;
  height: 1em;
  padding: 0.62em 0 0 1.846em;
}

/*=========
   Images
===========*/
.home-img-1,
.home-img-2,
.home-img-3,
.home-img-4,
.home-img-5,
.home-img-6,
.about-img-1,
.about-img-2,
.about-img-3,
.about-img-4,
.contact-img-1,
.contact-img-2 {
  position: absolute;
  display: block;
}

.home-img-1 {
  display: none;
}

.home-img-2 {
  bottom: 0;
  display: block;
  margin: auto;
  width: 358px;
  max-width: 96%;
}

.home-img-3 {
  top: 0;
  right: 0;
  translate: 50% 0;
}

.home-img-4 {
  top: 0;
  left: 0;
}

.home-img-5 {
  bottom: 0;
  right: 0;
}

.home-img-6 {
  left: 0;
  bottom: 0;
  height: 122px;
}

.about-img-1 {
  bottom: 0;
  right: 0;
  translate: 50% 50%;
}

.about-img-2, .about-img-4 {
  top: 0;
  left: 0;
  translate: -50% -50%;
}

.about-img-3 {
  bottom: 0;
  right: 0;
}

.contact-img-1 {
  display: none;
}

.contact-img-2 {
  bottom: 0;
  right: 0;
  translate: 50% 50%;
}

.avatar {
  border-radius: 50%;
  border: 2px solid #C4FFFE;
}

/*================
    Media Queries
==================*/
@media (max-width: 767px) {
  nav {
    display: none;
    position: relative;
    padding: 3em 3.5em;
  }
  .menu-close-btn {
    align-self: end;
    margin-bottom: 1em;
  }
  nav.open {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5em;
    position: fixed;
    top: 0;
    right: 0;
    min-height: 100vh;
    background-color: #2C6269;
    z-index: 2;
  }
  nav.open button {
    margin-top: 0.75em;
  }
  .menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
  .menu-img {
    position: absolute;
    bottom: 0;
    right: 0;
    translate: 50% 0;
  }
}
@media (max-width: 1439px) {
  .home-img-2 {
    left: 50%;
    translate: -50% 0;
  }
}
@media (min-width: 768px) and (max-width: 1439px) {
  section {
    padding: 0 6.0625em;
  }
  /*==============
      Typography
  ================*/
  h1 {
    font-size: 4rem;
  }
  p {
    font-size: 0.9375rem;
    font-weight: 600;
    line-height: 1.667;
  }
  /*========
      Header
  ==========*/
  header {
    padding: 4.5em 2.4375em 0 2.4375em;
    gap: 3em;
  }
  /*========
      Home
  ==========*/
  .home-section-1 {
    padding-bottom: 256px;
  }
  .main-title {
    margin-top: 1.875em;
  }
  .large-p {
    max-width: 457px;
    margin: auto;
  }
  .home-section-2 h2 {
    margin-bottom: 2em;
  }
  .home-section-3 .section-content {
    max-width: 573px;
    margin: auto;
  }
  .get-started .section-content {
    max-width: 917px;
    margin: auto;
  }
  /*========
      About
  ==========*/
  .about-section-1 {
    padding-bottom: 112px;
    padding-top: 120px;
  }
  .about-section-1 p {
    max-width: 457px;
    margin: auto;
  }
  .about-img-1 {
    translate: 50% 0%;
  }
  .about-img-2 {
    translate: -50% 0;
  }
  .about-section-2 {
    padding-top: 100px;
    padding-bottom: 128px;
  }
  .about-section-2 h2 {
    margin-bottom: 1.5em;
  }
  .about-section-3 {
    padding-top: 100px;
    padding-bottom: 107px;
  }
  .about-img-4 {
    translate: 0 -50%;
  }
  .contact-section {
    padding-bottom: 112px;
    margin-top: 112px;
  }
  .contact-section .section-content {
    max-width: 768px;
  }
  .contact-section h2 {
    margin: 0.75em 0;
  }
  footer {
    padding: 3.5em 2.4375em;
  }
}
@media (min-width: 768px) {
  /*========
      Header
  ==========*/
  .menu-btn {
    display: none;
  }
  .menu-img {
    display: none;
  }
  nav {
    display: flex;
    flex-grow: 1;
    gap: 2.5em;
    align-items: center;
  }
  .menu-close-btn {
    display: none;
  }
  .header-contact-btn {
    margin-left: auto;
  }
  /*========
      Home
  ==========*/
  .home-section-2 h2 {
    max-width: 445px;
  }
  .home-section-2-details {
    text-align: start;
    display: grid;
    grid-template-columns: 72px auto;
    -moz-column-gap: 1.4375em;
         column-gap: 1.4375em;
  }
  .home-section-2-details h3 {
    margin: 0;
  }
  .home-section-2-details img {
    grid-column: 1/2;
    grid-row: 1/3;
  }
  .get-started .section-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .get-started .section-content h2 {
    margin: 0;
  }
  /*========
      About
  ==========*/
  .clients {
    flex-direction: row;
    gap: 47px;
  }
  .clients img {
    width: 14vw;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .directors {
    display: grid;
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 11px;
         column-gap: 11px;
    row-gap: 76px;
  }
  .contact-img-1 {
    display: block;
    top: 0;
    left: 0;
    translate: -50% 0;
  }
  .contact-img-2 {
    translate: 55% 0;
  }
  .footer-content {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 75px 25px 57px;
    grid-template-areas: "logo address" "links address" "socials copyright";
  }
  .footer-content .logo {
    grid-area: logo;
  }
  .footer-content .social-media {
    grid-area: socials;
  }
  .footer-content .social-media,
  .footer-content .footer-links {
    justify-content: start;
  }
  .footer-content p {
    text-align: end;
  }
  .footer-content p:first-of-type {
    grid-area: address;
    margin: 0;
  }
  .footer-content p:last-of-type {
    grid-area: copyright;
    margin: 0;
  }
  .footer-content .social-media,
  .footer-content p:last-of-type {
    align-self: end;
  }
}
@media (min-width: 1440px) {
  section {
    padding: 0 10.3125em;
  }
  header, .section-content {
    max-width: 1110px;
    margin: auto;
  }
  /*==============
      Typography
  ================*/
  body {
    text-align: left;
  }
  .main-title {
    font-size: 6.25rem;
    line-height: 1;
    margin: 0;
  }
  h1 {
    font-size: 4rem;
    line-height: 0.875;
  }
  h2 {
    font-size: 3rem;
  }
  .large-p, a {
    font-size: 1.125rem;
    line-height: 1.556;
  }
  .large-p {
    margin: 0;
  }
  /*========
      Header
  ==========*/
  header {
    box-sizing: initial;
    width: 1110px;
    gap: 5em;
    padding: 4.8125em 10.3125em 0 10.3125em;
  }
  /*========
      Home
  ==========*/
  .home-img-1 {
    display: inline;
    top: 8.3125em;
    left: 0;
    translate: -50% 0;
    height: 200px;
  }
  .home-img-2 {
    right: 50%;
    translate: 600px 0;
  }
  .home-section-1 {
    padding-bottom: 250px;
  }
  .home-section-1 .section-content,
  .about-section-1 .section-content {
    display: flex;
    align-items: center;
    padding-top: 8.3125em;
    justify-content: space-between;
  }
  .home-section-1 .section-content h1,
  .about-section-1 .section-content h1 {
    min-width: 535px;
  }
  .home-section-1 .section-content p::before,
  .about-section-1 .section-content p::before {
    content: "";
    display: block;
    position: absolute;
    top: 8.3125em;
    width: 50px;
    height: 4px;
    background-color: #79C8C7;
  }
  .home-section-2 .section-content {
    display: flex;
    gap: 125px;
  }
  .home-section-3 {
    text-align: center;
  }
  .home-section-3 h2 {
    margin: 0 auto 1.1667em;
    max-width: 19.42em;
  }
  .quotes {
    flex-direction: row;
  }
  /*========
      About
  ==========*/
  .about-section-1 .section-content {
    gap: 186px;
    justify-content: flex-start;
    min-height: 156px;
  }
  .about-section-1 .section-content h1 {
    max-width: 205px;
    min-width: -moz-fit-content;
    min-width: fit-content;
    margin: 0 0 1.48em 0;
  }
  .about-section-1 .section-content p {
    max-width: none;
    flex-grow: 1;
  }
  .about-section-1 .section-content p::before {
    background-color: #F67E7E;
    margin-bottom: 2.67em;
  }
  .clients {
    gap: 80px;
    height: 48px;
  }
  .director-card,
  .about-section-3 h2,
  .about-section-2 h2 {
    text-align: center;
  }
  .about-section-3 h2 {
    margin-bottom: 1.4583em;
  }
  .directors {
    grid-template-columns: repeat(3, 1fr);
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
  .about-img-1 {
    translate: 50% 35%;
  }
  .about-img-2 {
    translate: -50% 0;
  }
  .about-img-4 {
    translate: 0 0;
  }
  /*===========
      Contact
  =============*/
  .contact-section {
    padding-bottom: 120px;
    margin-top: 128px;
  }
  .contact-section .section-content {
    display: flex;
    width: 100%;
    max-width: 1110px;
    gap: 120px;
  }
  form {
    flex-grow: 1;
  }
  /*========
      Footer
  ==========*/
  .footer-content {
    grid-template-columns: 274px 1fr 1fr;
    grid-template-rows: 50px 50px;
    grid-template-areas: "logo address socials" "links address copyright";
  }
  .footer-content .social-media,
  .footer-content .footer-links {
    justify-content: start;
  }
  .footer-content .footer-links {
    align-self: end;
  }
  .footer-content p:first-of-type {
    text-align: start;
  }
  .footer-content .social-media {
    justify-content: end;
    align-self: flex-start;
  }
}/*# sourceMappingURL=index.css.map */